/* Variables */

:root {
  --spacing-1: .25rem;
  --spacing-2: .5rem;
  --spacing-3: 1rem;
  --spacing-4: 2rem;
  --spacing-5: 4rem;
  --spacing-6: 8rem;
  --spacing-7: 16rem;
  --spacing-8: 32rem;
}

/*
   NEGATIVE MARGINS

   Base:
     n = negative

   Modifiers:
     t = top
     r = right
     b = bottom
     l = left

     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale
     8 = 8th step in spacing scale

   Media Query Extensions:
     -s = small
     -m = medium
     -l = large

*/

.n1 { margin: calc(-1 * var(--spacing-1)); }
.n2 { margin: calc(-1 * var(--spacing-2)); }
.n3 { margin: calc(-1 * var(--spacing-3)); }
.n4 { margin: calc(-1 * var(--spacing-4)); }
.n5 { margin: calc(-1 * var(--spacing-5)); }
.n6 { margin: calc(-1 * var(--spacing-6)); }
.n7 { margin: calc(-1 * var(--spacing-7)); }
.n8 { margin: calc(-1 * var(--spacing-8)); }

.nl1 { margin-left: calc(-1 * var(--spacing-1)); }
.nl2 { margin-left: calc(-1 * var(--spacing-2)); }
.nl3 { margin-left: calc(-1 * var(--spacing-3)); }
.nl4 { margin-left: calc(-1 * var(--spacing-4)); }
.nl5 { margin-left: calc(-1 * var(--spacing-5)); }
.nl6 { margin-left: calc(-1 * var(--spacing-6)); }
.nl7 { margin-left: calc(-1 * var(--spacing-7)); }
.nl8 { margin-left: calc(-1 * var(--spacing-8)); }

.nr1 { margin-right: calc(-1 * var(--spacing-1)); }
.nr2 { margin-right: calc(-1 * var(--spacing-2)); }
.nr3 { margin-right: calc(-1 * var(--spacing-3)); }
.nr4 { margin-right: calc(-1 * var(--spacing-4)); }
.nr5 { margin-right: calc(-1 * var(--spacing-5)); }
.nr6 { margin-right: calc(-1 * var(--spacing-6)); }
.nr7 { margin-right: calc(-1 * var(--spacing-7)); }
.nr8 { margin-right: calc(-1 * var(--spacing-8)); }

.nb1 { margin-bottom: calc(-1 * var(--spacing-1)); }
.nb2 { margin-bottom: calc(-1 * var(--spacing-2)); }
.nb3 { margin-bottom: calc(-1 * var(--spacing-3)); }
.nb4 { margin-bottom: calc(-1 * var(--spacing-4)); }
.nb5 { margin-bottom: calc(-1 * var(--spacing-5)); }
.nb6 { margin-bottom: calc(-1 * var(--spacing-6)); }
.nb7 { margin-bottom: calc(-1 * var(--spacing-7)); }
.nb8 { margin-bottom: calc(-1 * var(--spacing-8)); }

.nt1 { margin-top: calc(-1 * var(--spacing-1)); }
.nt2 { margin-top: calc(-1 * var(--spacing-2)); }
.nt3 { margin-top: calc(-1 * var(--spacing-3)); }
.nt4 { margin-top: calc(-1 * var(--spacing-4)); }
.nt5 { margin-top: calc(-1 * var(--spacing-5)); }
.nt6 { margin-top: calc(-1 * var(--spacing-6)); }
.nt7 { margin-top: calc(-1 * var(--spacing-7)); }
.nt8 { margin-top: calc(-1 * var(--spacing-8)); }

@media (--breakpoint-small) {
  .n0-s { margin: 0; }
  .n1-s { margin: calc(-1 * var(--spacing-1)); }
  .n2-s { margin: calc(-1 * var(--spacing-2)); }
  .n3-s { margin: calc(-1 * var(--spacing-3)); }
  .n4-s { margin: calc(-1 * var(--spacing-4)); }
  .n5-s { margin: calc(-1 * var(--spacing-5)); }
  .n6-s { margin: calc(-1 * var(--spacing-6)); }
  .n7-s { margin: calc(-1 * var(--spacing-7)); }
  .n8-s { margin: calc(-1 * var(--spacing-8)); }

  .nl1-s { margin-left: calc(-1 * var(--spacing-1)); }
  .nl2-s { margin-left: calc(-1 * var(--spacing-2)); }
  .nl3-s { margin-left: calc(-1 * var(--spacing-3)); }
  .nl4-s { margin-left: calc(-1 * var(--spacing-4)); }
  .nl5-s { margin-left: calc(-1 * var(--spacing-5)); }
  .nl6-s { margin-left: calc(-1 * var(--spacing-6)); }
  .nl7-s { margin-left: calc(-1 * var(--spacing-7)); }
  .nl8-s { margin-left: calc(-1 * var(--spacing-8)); }

  .nr1-s { margin-right: calc(-1 * var(--spacing-1)); }
  .nr2-s { margin-right: calc(-1 * var(--spacing-2)); }
  .nr3-s { margin-right: calc(-1 * var(--spacing-3)); }
  .nr4-s { margin-right: calc(-1 * var(--spacing-4)); }
  .nr5-s { margin-right: calc(-1 * var(--spacing-5)); }
  .nr6-s { margin-right: calc(-1 * var(--spacing-6)); }
  .nr7-s { margin-right: calc(-1 * var(--spacing-7)); }
  .nr8-s { margin-right: calc(-1 * var(--spacing-8)); }

  .nb1-s { margin-bottom: calc(-1 * var(--spacing-1)); }
  .nb2-s { margin-bottom: calc(-1 * var(--spacing-2)); }
  .nb3-s { margin-bottom: calc(-1 * var(--spacing-3)); }
  .nb4-s { margin-bottom: calc(-1 * var(--spacing-4)); }
  .nb5-s { margin-bottom: calc(-1 * var(--spacing-5)); }
  .nb6-s { margin-bottom: calc(-1 * var(--spacing-6)); }
  .nb7-s { margin-bottom: calc(-1 * var(--spacing-7)); }
  .nb8-s { margin-bottom: calc(-1 * var(--spacing-8)); }

  .nt1-s { margin-top: calc(-1 * var(--spacing-1)); }
  .nt2-s { margin-top: calc(-1 * var(--spacing-2)); }
  .nt3-s { margin-top: calc(-1 * var(--spacing-3)); }
  .nt4-s { margin-top: calc(-1 * var(--spacing-4)); }
  .nt5-s { margin-top: calc(-1 * var(--spacing-5)); }
  .nt6-s { margin-top: calc(-1 * var(--spacing-6)); }
  .nt7-s { margin-top: calc(-1 * var(--spacing-7)); }
  .nt8-s { margin-top: calc(-1 * var(--spacing-8)); }
}

@media (--breakpoint-medium) {
  .n0-m { margin: 0; }
  .n1-m { margin: calc(-1 * var(--spacing-1)); }
  .n2-m { margin: calc(-1 * var(--spacing-2)); }
  .n3-m { margin: calc(-1 * var(--spacing-3)); }
  .n4-m { margin: calc(-1 * var(--spacing-4)); }
  .n5-m { margin: calc(-1 * var(--spacing-5)); }
  .n6-m { margin: calc(-1 * var(--spacing-6)); }
  .n7-m { margin: calc(-1 * var(--spacing-7)); }
  .n8-m { margin: calc(-1 * var(--spacing-8)); }

  .nl1-m { margin-left: calc(-1 * var(--spacing-1)); }
  .nl2-m { margin-left: calc(-1 * var(--spacing-2)); }
  .nl3-m { margin-left: calc(-1 * var(--spacing-3)); }
  .nl4-m { margin-left: calc(-1 * var(--spacing-4)); }
  .nl5-m { margin-left: calc(-1 * var(--spacing-5)); }
  .nl6-m { margin-left: calc(-1 * var(--spacing-6)); }
  .nl7-m { margin-left: calc(-1 * var(--spacing-7)); }
  .nl8-m { margin-left: calc(-1 * var(--spacing-8)); }

  .nr1-m { margin-right: calc(-1 * var(--spacing-1)); }
  .nr2-m { margin-right: calc(-1 * var(--spacing-2)); }
  .nr3-m { margin-right: calc(-1 * var(--spacing-3)); }
  .nr4-m { margin-right: calc(-1 * var(--spacing-4)); }
  .nr5-m { margin-right: calc(-1 * var(--spacing-5)); }
  .nr6-m { margin-right: calc(-1 * var(--spacing-6)); }
  .nr7-m { margin-right: calc(-1 * var(--spacing-7)); }
  .nr8-m { margin-right: calc(-1 * var(--spacing-8)); }

  .nb1-m { margin-bottom: calc(-1 * var(--spacing-1)); }
  .nb2-m { margin-bottom: calc(-1 * var(--spacing-2)); }
  .nb3-m { margin-bottom: calc(-1 * var(--spacing-3)); }
  .nb4-m { margin-bottom: calc(-1 * var(--spacing-4)); }
  .nb5-m { margin-bottom: calc(-1 * var(--spacing-5)); }
  .nb6-m { margin-bottom: calc(-1 * var(--spacing-6)); }
  .nb7-m { margin-bottom: calc(-1 * var(--spacing-7)); }
  .nb8-m { margin-bottom: calc(-1 * var(--spacing-8)); }

  .nt1-m { margin-top: calc(-1 * var(--spacing-1)); }
  .nt2-m { margin-top: calc(-1 * var(--spacing-2)); }
  .nt3-m { margin-top: calc(-1 * var(--spacing-3)); }
  .nt4-m { margin-top: calc(-1 * var(--spacing-4)); }
  .nt5-m { margin-top: calc(-1 * var(--spacing-5)); }
  .nt6-m { margin-top: calc(-1 * var(--spacing-6)); }
  .nt7-m { margin-top: calc(-1 * var(--spacing-7)); }
  .nt8-m { margin-top: calc(-1 * var(--spacing-8)); }
}

@media (--breakpoint-large) {  
  .n0-l { margin: 0; }
  .n1-l { margin: calc(-1 * var(--spacing-1)); }
  .n2-l { margin: calc(-1 * var(--spacing-2)); }
  .n3-l { margin: calc(-1 * var(--spacing-3)); }
  .n4-l { margin: calc(-1 * var(--spacing-4)); }
  .n5-l { margin: calc(-1 * var(--spacing-5)); }
  .n6-l { margin: calc(-1 * var(--spacing-6)); }
  .n7-l { margin: calc(-1 * var(--spacing-7)); }
  .n8-l { margin: calc(-1 * var(--spacing-8)); }

  .nl1-l { margin-left: calc(-1 * var(--spacing-1)); }
  .nl2-l { margin-left: calc(-1 * var(--spacing-2)); }
  .nl3-l { margin-left: calc(-1 * var(--spacing-3)); }
  .nl4-l { margin-left: calc(-1 * var(--spacing-4)); }
  .nl5-l { margin-left: calc(-1 * var(--spacing-5)); }
  .nl6-l { margin-left: calc(-1 * var(--spacing-6)); }
  .nl7-l { margin-left: calc(-1 * var(--spacing-7)); }
  .nl8-l { margin-left: calc(-1 * var(--spacing-8)); }

  .nr1-l { margin-right: calc(-1 * var(--spacing-1)); }
  .nr2-l { margin-right: calc(-1 * var(--spacing-2)); }
  .nr3-l { margin-right: calc(-1 * var(--spacing-3)); }
  .nr4-l { margin-right: calc(-1 * var(--spacing-4)); }
  .nr5-l { margin-right: calc(-1 * var(--spacing-5)); }
  .nr6-l { margin-right: calc(-1 * var(--spacing-6)); }
  .nr7-l { margin-right: calc(-1 * var(--spacing-7)); }
  .nr8-l { margin-right: calc(-1 * var(--spacing-8)); }

  .nb1-l { margin-bottom: calc(-1 * var(--spacing-1)); }
  .nb2-l { margin-bottom: calc(-1 * var(--spacing-2)); }
  .nb3-l { margin-bottom: calc(-1 * var(--spacing-3)); }
  .nb4-l { margin-bottom: calc(-1 * var(--spacing-4)); }
  .nb5-l { margin-bottom: calc(-1 * var(--spacing-5)); }
  .nb6-l { margin-bottom: calc(-1 * var(--spacing-6)); }
  .nb7-l { margin-bottom: calc(-1 * var(--spacing-7)); }
  .nb8-l { margin-bottom: calc(-1 * var(--spacing-8)); }

  .nt1-l { margin-top: calc(-1 * var(--spacing-1)); }
  .nt2-l { margin-top: calc(-1 * var(--spacing-2)); }
  .nt3-l { margin-top: calc(-1 * var(--spacing-3)); }
  .nt4-l { margin-top: calc(-1 * var(--spacing-4)); }
  .nt5-l { margin-top: calc(-1 * var(--spacing-5)); }
  .nt6-l { margin-top: calc(-1 * var(--spacing-6)); }
  .nt7-l { margin-top: calc(-1 * var(--spacing-7)); }
  .nt8-l { margin-top: calc(-1 * var(--spacing-8)); }
}
